<h1 class="sessao-titulo">Doações</h1>

<p class="sessao-paragrafo">
    Nosso setor de doações trabalha com arrecadações para o bazar e também com comidas que possam ser levadas a moradores de rua.
    Aceitamos doações de roupas, sapatos e itens variados para a revenda no nosso bazar,  também fazermos trocas para suprir a 
    necessidade que nos encontramos no momento.
</p>

<div id="carouselDoacao" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselDoacao" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselDoacao" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselDoacao" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>

    <div class="carousel-inner">
        <div *ngFor="let foto of imagensCarousel" class="carousel-item {{ foto.ativo ? 'active' : '' }}">
            <img src="{{ foto.src }}" class="d-block w-100" alt="Foto sobre padrinho nota 10">
            <!--<div class="carousel-caption d-md-block">
                <h5>{{ foto.titulo }}</h5>
                <p>{{ foto.sobre }}</p>
            </div>-->
        </div>
    </div>

    <button class="carousel-control-prev" type="button" data-bs-target="#carouselDoacao" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    
    <button class="carousel-control-next" type="button" data-bs-target="#carouselDoacao" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>