<h1 class="sessao-titulo">Bazar Beneficente</h1>

<p class="sessao-paragrafo">
    O bazar existe, para que nós possamos através dele, arrecadar verbas para nossas ações sociais. 
    Nele vendemos algumas doações para arrecadar fundos, que nos ajude a comprar comida e materiais necessários para 
    atender aqueles que precisam de ajuda.
    O horário de <strong>funcionamento</strong> é das <strong> 12 às 17 </strong> horas.
</p>

<div id="carouselBazarBeneficente" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselBazarBeneficente" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselBazarBeneficente" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselBazarBeneficente" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>

    <div class="carousel-inner">
        <div *ngFor="let foto of imagensCarousel" class="carousel-item {{ foto.ativo ? 'active' : '' }}">
            <img src="{{ foto.src }}" class="d-block w-100" alt="Foto sobre padrinho nota 10">
            <!--<div class="carousel-caption d-md-block">
                <h5>{{ foto.titulo }}</h5>
                <p>{{ foto.sobre }}</p>
            </div>-->
        </div>
    </div>

    <button class="carousel-control-prev" type="button" data-bs-target="#carouselBazarBeneficente" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    
    <button class="carousel-control-next" type="button" data-bs-target="#carouselBazarBeneficente" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>