<h1 class="sessao-titulo">Resgate Humanitário</h1>

<p class="sessao-paragrafo">
    Fazemos acolhimento de mulheres e crianças que sofreram ou sofrem de  violência verbal, física e sexual. 
    Temos um acolhimento humanizado e sigiloso que  é acompanhado através de terapia comunitária. 
    Se você conhece ou sabe de alguém que precisa de ajuda, poderá entrar em contato conosco, através dos nossos 
    canais de comunicação.  se você precisar de ajuda não exite em nos contatar. 
</p>

<img src="../../assets/resgate-humanitario/imagem.png" alt="Ilustração representando pessoa precisando de ajuda." width="100%">