<app-topo></app-topo>

<div class="container">
    <!-- ###### Seção inicial -->
    <div class="row">
        <div class="col-sm-0 col-md-1 col-lg-2"></div>

        <div class="col-sm-12 col-md-10 col-lg-8">
           <app-incio></app-incio>
        </div>

        <div class="col-sm-0 col-md-1 col-lg-2"></div>
    </div>
    <!-- ###### Seção inicial -->

    <!-- ###### Padrinho Nota 10 -->
    <div class="row">
        <div class="col-sm-0 col-md-1 col-lg-2"></div>

        <div class="col-sm-12 col-md-10 col-lg-8">
            <hr>
            <app-padrinho-nota-dez></app-padrinho-nota-dez>
        </div>

        <div class="col-sm-0 col-md-1 col-lg-2"></div>
    </div>
    <!-- ###### Padrinho Nota 10 -->

    <!-- ###### Sessão Bazar Beneficente -->
    <div class="row">
        <div class="col-sm-0 col-md-1 col-lg-2"></div>

        <div class="col-sm-12 col-md-10 col-lg-8">
            <hr>
            <app-bazar></app-bazar>
        </div>

        <div class="col-sm-0 col-md-1 col-lg-2"></div>
    </div>
    <!-- ###### Sessão Bazar Beneficente -->


    <!-- ###### Sessão de doação -->
    <div class="row">
        <div class="col-sm-0 col-md-1 col-lg-2"></div>

        <div class="col-sm-12 col-md-10 col-lg-8">
            <hr>
            <app-doacao></app-doacao>
        </div>

        <div class="col-sm-0 col-md-1 col-lg-2"></div>
    </div>
    <!-- ###### Sessão de doação -->

    <!-- ###### Sessão Resgate Humanitário -->
    <div class="row">
        <div class="col-sm-0 col-md-1 col-lg-2"></div>

        <div class="col-sm-12 col-md-10 col-lg-8">
            <hr>
            <app-resgate-humanitario></app-resgate-humanitario>
        </div>

        <div class="col-sm-0 col-md-1 col-lg-2"></div>
    </div>
    <!-- ###### Sessão Resgate Humanitário -->
</div>

<app-rodape></app-rodape>